<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/style.css">
    <link rel="shourtcut icon" type="text/css" href="/admin/images/OIP.jpg">
    <title>Resto, application de gestion de restaurant - <%= title %></title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/admin/images/OIP.jpg" alt="logo">
            <h1>EM-Resto App</h1>
        </div><hr>

        <div class="liens_dashboard">
            <a href="/admin/commandes"> Voir commandes</a><br><br><br><br>
            <a href="/admin/ajout"> Ajouter un administrateur</a><br><br><br><br>
            <a href="/admin/supp"> Supprimer un administrateur</a><br><br><br><br>
            <a href="/"> Deconnexion</a>
        </div>
    </nav>


    <h2>Bienvenue sur la page Administrateur.</h2>
        
        

    


    <script src="/clt/script.js"></script>
</body>
</html>