*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

nav{
    display: block;
    justify-content: space-around;
    width: 100%;
    background-color: brown;
}

.logo{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    padding: 20px;
}

.logo img{
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
}

.logo h1{
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.navbar{
    background-color: whitesmoke;
    
}

.navbar ul{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    padding: 10px; 
}

.navbar ul li:hover{
    background-color: rgb(202, 202, 202);
    border-left: 2px solid brown;
    padding: 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-style: oblique;
}

.connect{
    color: rgb(173, 0, 0) !important;
}


.navbar_responsive{
    background-color: rgba(180, 180, 180, 0.781);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    width: 100%;
    padding: 30% 0;
    height: 100%;
    display: none;
    z-index: 1000;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.navbar_responsive ul{
    text-align: center;
}
.navbar_responsive ul li{
    list-style: none;
    padding: 10px;
    margin-bottom: 25px;
}

.navbar_responsive ul li:hover{
    background-color: rgb(146, 146, 146);
    border-left: 2px solid brown;
    border-bottom: 2px solid brown;
    padding: 10px;
}

.navbar_responsive ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-style: oblique;
}

.connect_responsive{
    color: rgb(173, 0, 0) !important;
}

#menu_burger{
    border-radius: 0 !important;
    display: none ;
    margin-left: 30%;
    margin-top: 10px;
}

#close_menu{
    display: none;
    margin-left: 30%;
}

@media screen and (max-width:770px) {
    .navbar_responsive{
        display: none;
    }
    .navbar{
        display: none;
    }
    #menu_burger{
        display: block;
    }
    
}
@media screen and (min-width:770px) {
    #menu_burger{
        display: none;
    }
    #close_menu{
        display: none !important;
    }
    .navbar_responsive{
        display: none !important;
    }
}

@media screen and (max-width:460px) {
    #menu_burger{
        
        margin-left: 10%;
    }
    #close_menu{
        margin-left: 10%;
    }
}

@media screen and (max-width:378px) {
    #menu_burger{
        
        margin-left: 5%;
        height: 30px;
    }
    #close_menu{
        margin-left: 5%;
        height: 30px;
    }
}

@media screen and (max-width:356px) {
    .logo h1{
        font-size: 20px;
    }
}

.navigue_add{
    animation: viens 2s 1;
}
@keyframes viens{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.navigue_close{
    animation: va 1s 1;
    animation-fill-mode: forwards;
}
@keyframes va{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
        display: none !important;
    }
}

.image_entete{
    position: relative;
}

.image_entete img{
    width: 100%;
    height: 88vh;
    filter: brightness(50%);
}

.texte_entete{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
}

@media screen and (max-width:1040px) {
    .texte_entete{
        left: 30%;
        text-align: center;
        transform: translate(-20%, -50%);
    }
}
.texte_entete h1{
    font-size: 50px;
    color: white;
}

.texte_entete p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.texte_entete button{
    background-color: rgb(173, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    border: none;
}

.texte_entete button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-style: oblique;
    background-color: rgb(173, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.texte_entete button:hover{
    background-color: rgb(141, 0, 0);
}
.texte_entete button a:hover{
    background-color: rgb(141, 0, 0);
}

@media screen and (max-width:575px) {
    .texte_entete h1{
        font-size: 40px;
    }
}

@media screen and (max-width:490px) {
    .texte_entete{
        top: 55%;
    }
    .texte_entete button{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 70px;
    }
}

.specialite{
    background-color: rgb(182, 0, 0);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.titre_specialites h1{
    color: whitesmoke;
    padding: 10px 30px;
    font-size: 40px;
}
.titre_specialites p{
    color: whitesmoke;
    font-size: 20px;
    padding-left: 30px;
}

.cartes{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.carte{
    padding: 10px;
    border: 1px solid brown;
}

.carte_entete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.carte_entete img{
    border-radius: 50%;
    height: 50px;
}

.bouton_commander button{
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.bouton_commander button a{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: brown;
    font-size: 20px;
}

@media screen and (max-width:923px) {
    .bouton_commander button{
        margin-top: 30px;
    }
}



.card_specialites{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(43, 43, 43);
    padding-bottom: 30px;
    margin-top: 5px;
}

.card {
    margin-top: 20px;
    width: 190px;
    height: 254px;
    padding: 1.2em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-img img{
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}

.card-info {
    padding-top: 10%;
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/*Button*/


/*Hover*/
.card-img:hover {
    cursor: pointer;
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

    


.card-button input{
    background-color: brown;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
}


footer{
    background-color: rgb(47, 47, 47);
    padding: 30px;
    margin-top: 5px;
}

footer p{
    color: white;
    text-align: center;
}

footer p a{
    color: white;
    text-decoration: none;
    text-decoration: underline;
}


