<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="connexion/style.css">
    <link rel="shourtcut icon" type="text/css" href="/connexion/images/OIP.jpg">
    <title>Resto, application de gestion de restaurant - <%= title %></title>
</head>

<body >
    
    <form action="/resto/connexion" method="post">
        <h1>Connexion</h1>
        <input type="email" name="email" placeholder="Entrez votre email" id="email" required>
        <p id="mot_email">Entrer un email valide !</p><br>
        <input type="password" name="password" placeholder="Entrez votre mot de passe" id="password" required minlength="8">
        <p id="mot_password">Entrer un mot de passe valide !</p><br>
        <input type="submit" value="Connexion" id="boutton"><br><br><br>
        <a href="/inscription">S'inscrire ?</a><br> 

    </form>

    <script src="connexion/script.js"></script>
</body>
</html>